#logger.conf
###############################################
[loggers]
keys=root,ths_crawler
[logger_root]
level=DEBUG
handlers=console,ths_crawler
[logger_ths_crawler]
handlers=console,ths_crawler
qualname=ths_crawler
propagate=0
###############################################
[handlers]
keys=console,ths_crawler
[handler_console]
class=StreamHandler
level=INFO
formatter=form01
args=(sys.stderr,)
[handler_ths_crawler]
class=handlers.RotatingFileHandler
level=INFO
formatter=form01
args=('/tmp/crawler.log', 'a', 100*1024*1024, 5)
#args=('/var/log/stock_crawler/crawler.log', 'a', 100*1024*1024, 5)
###############################################
[formatters]
keys=form01,form02
[formatter_form01]
format=%(asctime)s %(filename)s[line:%(lineno)d] %(levelname)s %(message)s
datefmt=%Y-%m-%d %H:%M:%S
[formatter_form02]
format=%(name)-12s: %(levelname)-8s %(message)s
datefmt=